

$menu-color: #de51fa;

//declaro mixin para reutilizar estilos
@mixin headerlink{
    color: $menu-color;
    text-decoration: none;
    letter-spacing: 2px;
}

@mixin header-border($size: 2px) {
    border-bottom: solid $size $menu-color;
}

.header {
    background-color: rgb(110, 2, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    &__logo {
        @include headerlink;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    &__item-link {
        @include  headerlink;

        // estilo para link activo
        &--is-active {
            @include header-border($size: 2px)
        }

        &:hover{
            @include header-border($size: 1px)
        }
    }
}